.comfort{
    background-color: #464648;
    div{
        width: 90%;
        margin: 0 auto;
    }
    .number{
        padding-top: 5vw;
        color: rgba(43, 47, 51, 0.8);
        font-weight: bold;
    }
    h2{
        color: rgba(222,222,222,0.9);
        margin-left: 12vw;
        margin-top: -1.3vw;
        font-family: sans-serif;
        font-size: 17px;
    }
    h3{
        color: rgba(222,222,222,0.9);
        margin-left: 12vw;
        font-family: $videoFont;
        font-weight: lighter;
        font-size: 30px;
        margin-top: -0.2vw;   
    }
    .blueLine{
        height: 1px;
        width: 5vw;
        margin-left: 12vw;
        margin-top: -0.5vw;
        background-color: #29E7D6;
    }
    .paragraph{
        width: 30vw;
        margin-left: 55%;
        margin-top: 3vw;
        color: rgba(222,222,222,0.9);
        padding-bottom: 5vw;
    }
}

.closer{
    background-color: #191919;
    div{
        width: 90%;
        margin: 0 auto;
    }
    .number{
        padding-top: 5vw;
        color: rgba(43, 47, 51, 0.8);
        font-weight: bold;
    }
    h2{
        color: rgba(222,222,222,0.9);
        margin-left: 12vw;
        margin-top: -1.3vw;
        font-family: sans-serif;
        font-size: 17px;
    }
    h3{
        color: rgba(222,222,222,0.9);
        margin-left: 12vw;
        font-family: $videoFont;
        font-weight: lighter;
        font-size: 30px;
        margin-top: -0.2vw;   
    }
    .blueLine{
        height: 1px;
        width: 5vw;
        margin-left: 12vw;
        margin-top: -0.5vw;
        background-color: #29E7D6;
    }
    .paragraph{
        width: 30vw;
        margin-left: 55%;
        margin-top: 3vw;
        color: rgba(222,222,222,0.9);
        padding-bottom: 5vw;
    }
}

.deal{
    background-color: #D7D8DE;
    div{
        width: 90%;
        margin: 0 auto;
    }
    .number{
        padding-top: 5vw;
        color: #C0C0C0;
        font-weight: bold;
    }
    h2{
        color: #2B3542;
        margin-left: 12vw;
        margin-top: -1.3vw;
        font-family: sans-serif;
        font-size: 17px;
    }
    h3{
        color: #2B3542;
        margin-left: 12vw;
        font-family: $videoFont;
        font-weight: lighter;
        font-size: 30px;
        margin-top: -0.2vw;   
    }
    .blueLine{
        height: 1px;
        width: 5vw;
        margin-left: 12vw;
        margin-top: -0.5vw;
        background-color: #29E7D6;
    }
    .paragraph{
        width: 30vw;
        margin-left: 55%;
        margin-top: 3vw;
        color: #2B3542;
        padding-bottom: 5vw;
    }
}
.detailsImg{
 width: 3vw;
 height: 3vw;
 margin-left: 11vw;
 margin-right: -9vw;
 margin-bottom: 3vw;
}
.detailsImg2{
    width: 3vw;
    height: 3vw;
    margin-left: 17vw;
    margin-right: -15.5vw;
    margin-bottom: 3vw;
   }
       