.rentFormDiv{
    // width: 90%;
    margin: 0 auto;
    background-color: #464648;
    h2{
        padding-top: 5vw;
        margin-bottom: 3vw;
        font-family: $videoFont;
        color: rgba(222,222,222,0.8);
    }
    .rentForm{
        width: 35%;
        margin: 0 auto;
    }
    .rentForm input{
        margin-bottom: 3vw;
        border: none;
        border-bottom: 1px solid rgba(222,222,222,0.8);
        background-color: #464648;   
    }
    .results{
        
    }
}