header{
    padding-top: 5px;
    padding-bottom: 5px;
      width: 100%;
      background-color: black;
      margin: 0 auto;
      margin-bottom: 1vw;
      h1{
          color: white;
          margin-left: 3vw;
      }
    //   ul{
    //       list-style-type: none;
    //   }
    //   li {
    //     color: white;
    //     font-family: $headerFont;
    //     font-weight: bold;
    //     float: right;
    //     margin-left: 2vw;
    //     margin-right: 2vw;
    //     margin-top: 1vw;
    //     text-decoration: none;
    //   }
    }