header{
    padding-top: 3vw;
      width: 100%;
      background-color: $grey;
      margin: 0 auto;
      margin-bottom: 3vw;
      h1{
        font-family: $videoFont;
        font-weight: lighter;
        color: $videoFontColor;
        margin-left: 5%;
      }
    //   ul{
    //       list-style-type: none;
    //   }
    //   li {
    //     color: white;
    //     font-family: $headerFont;
    //     font-weight: bold;
    //     float: right;
    //     margin-left: 2vw;
    //     margin-right: 2vw;
    //     margin-top: 1vw;
    //     text-decoration: none;
    //   }
    }