a{
    text-decoration: none;
    color: #2b3542;
    font-family: sans-serif;
}
.logOut{
    float: right;
    margin-left: 2.5vw;
    background-color: #d7d7d8;
    border: none;
    color: #2b3542;
    font-size: 1.3vw;
    font-weight: 100;
    font-family: sans-serif;

}