.contactUs{
  background-color: #464648;
  width: 100%;
  margin-top: -3vw;
  .ContactUsDiv{
    width: 90%;
    margin: 0 auto;
  }
  .whoWeAre{
    text-align: center;
    padding-top: 3vw;
    color: rgba(222,222,222,0.8);
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 3vw;
    margin-bottom: 0.5vw
  }
  .underLineCU{
    height: 1px;
    width: 20vw;
    margin: 0 auto;
    background-color: rgba(222,222,222,0.8);
    margin-bottom: 3vw;
  }
  .underLineCU1{
    height: 1px;
    width: 34vw;
    margin: 0 auto;
    background-color: #29E7D6;
    margin-bottom: 5vw;
  }
  .description{
    text-align: center;
    color: rgba(222,222,222,0.8);
    font-family: $videoFont;
    font-size: 1.7vw;
    width: 90%;
    margin: 0 auto;
  }
  .underLineCU2{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(222,222,222,0.8);
    margin-bottom: 5vw;
    margin-top: 1vw;
  }
  .meet{
    text-align: center;
    color: rgba(222,222,222,0.8);
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 3vw;
    margin-bottom: 0.5vw;
  }
  .underLineCU3{
    height: 1px;
    width: 38%;
    margin: 0 auto;
    background-color: #29E7D6;
    margin-bottom: 5vw;
  }
  
  .team{
    width: 90%;
  }
  .name{
    font-family: 'Raleway', sans-serif;
    color: rgba(222,222,222,0.8);
    // margin: 7px;
    font-size: 1.2vw;
    padding-top: 1vw;
    // margin-bottom: 2vw;

  }
  .background{
 font-family: 'Raleway', sans-serif;
    color: rgba(222,222,222,0.8);
    text-align: left;
    margin-left: 0.5vw;
    margin-bottom: 1vw;
  }
  .members {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    border-radius: 10px; 
    box-shadow: 0 2px 43px -4px rgba(0, 0, 0, 0.41);
    background-color:  #191919;
    flex-basis: 20%;
    // margin: 20px;
    text-align: center;
    height: 30vw;
    margin-left: 4vw;
    margin-bottom: 3vw;
  }
  .cardUnderLine{
    height: 1px;
    width: 14vw;
    margin: 0 auto;
    background-color: #29E7D6;
    margin-bottom: 2vw;
    margin-top: 0.5vw;
  }
  .portrait{
    width: 90%;
  }
  .icons{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 5px;
    margin-top: 2vw;
  }
  
  .icon{
    width: 2vw;
    height: 2vw;
  }
}
