  
footer{
    background-color: black;
    height: 50px;
    position: relative;
    clear: both;
    // bottom: 0%;
    opacity: 0%;
    p{
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        padding-top: 1%;
        color: white;
    }
}