.form1{
  box-sizing: border-box;
  border: 2px solid grey;
  text-align: center;
  border-radius: 10px;
	font-size: 18px;

}
.hello{
  text-align: center;
padding-top: 5px;
margin: 50px;

}
.cool{
  border-radius: 16px;
 margin-top: 20px;
 font-size: 18px;
}

button{
  background: radial-gradient( whitesmoke, black) fixed;
  font-size: 40px;
  width: 190px;
  font-size: 20px;
  color: rgb(7, 7, 7);
  border: 10px solid black;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.8s;

}
button:hover{
  transform: scale(1.15);
    text-shadow: maroon 3px 3px 6px, 6px 6px 12px;
    font-weight: bold;
    text-decoration: none;

}
button:focus{
  outline: 12px;
}

